<div class="span8">
  <h4>Scrapers statistics</h4>
</div>
<div class="clearfix"></div>
<div class="span12">
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Status</th>
      <th>Last execution</th>
      <th>Last result</th>
      <th>Next execution</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="scraper in scrapers">
      <td>{{scraper.id}}</td>
      <td>{{scraper.name}}</td>
      <td>{{scraper.status}}</td>
      <td>{{scraper.last_time | date:'dd.MM.yyyy HH:mm:ss'}}</td>
      <td>{{scraper.last_result}}</td>
      <td>{{scraper.next_time | date:'dd.MM.yyyy HH:mm:ss'}}</td>
      <td>
        <a href="#/scrapers/{{scraper.id}}">Details</a>
        <a ng-click="runNow(scraper);">Run now!</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>