<div class="span8">
  <h4>{{'Advertisements' | i18n}}</h4>
</div>
<div class="clearfix"></div>
<div class="container-fluid">
  <table class="table table-ads table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>{{'Scraper' | i18n}}</th>
      <th>{{'Original ID' | i18n}}</th>
      <th>{{'Date' | i18n}}</th>
      <th>{{'Title' | i18n}}</th>
      <th>{{'Description' | i18n}}</th>
      <th>{{'Price' | i18n}}</th>
      <th>{{'Address' | i18n}}</th>
      <th>{{'Landlord phone' | i18n}}</th>
      <th>{{'Landlord name' | i18n}}</th>
      <th>{{'Landlord type' | i18n}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="ad in ads">
      <td>{{ad.id}}</td>
      <td><a ng-href="#/scrapers/{{ad.scraper.id}}">#{{ad.scraper.id}}</a></td>
      <td>
        <a target="_blank" ng-href="{{ad.ad_url}}">{{ad.ad_id}}</a>
      </td>
      <td>{{ad.create_time | date:'dd.MM.yyyy HH:mm:ss'}}</td>
      <td>{{ad.ad_title}}</td>
      <td>{{ad.ad_description}}</td>
      <td>{{ad.ad_price}} {{ad.ad_price_type}}</td>
      <td>{{ad.ad_city}}</td>
      <td>{{ad.ad_landlord_phone}}</td>
      <td>{{ad.ad_landlord_name}}</td>
      <td>{{ad.ad_landlord_type | landlord_type}}</td>
    </tr>
    </tbody>
  </table>
</div>