<div class="block bottom_margin_small">
  <h4>{{'Advertisements' | i18n}}</h4>
</div>
<div class="block">

  <table class="table">
    <thead>
      <tr>
        <td colspan="11">
          <span class="pull-right">Page: {{page+1}} of {{count}}</span>

          <div class="pagination pagination-centered" ng-include
               src="'partials/table-pagination.html'">
          </div>
        </td>
      </tr>
      <tr>
        <th>ID</th>
        <th>{{'Scraper' | i18n}}</th>
        <th>{{'Original ID' | i18n}}</th>
        <th>{{'Date' | i18n}}</th>
        <th>{{'Title' | i18n}}</th>
        <th>{{'Description' | i18n}}</th>
        <th>{{'Price' | i18n}}</th>
        <th>{{'Address' | i18n}}</th>
        <th>{{'Landlord phone' | i18n}}</th>
        <th>{{'Landlord name' | i18n}}</th>
        <th>{{'Landlord type' | i18n}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ad in ads" ng-class="classAdvertisement(ad)">
        <td width="3%">
          <a href="#/advertisements/{{ad.id}}">#{{ad.id}}</a>
        </td>
        <td width="3%"><a ng-href="#/scrapers/{{ad.scraper.id}}">{{ad.scraper.name}}</a>
        </td>
        <td width="7%">
          <a target="_blank" ng-href="{{ad.ad_url}}">{{ad.ad_id}}</a>
        </td>
        <td width="10%">{{ad.create_time | date:'dd.MM.yyyy HH:mm:ss'}}</td>
        <td width="10%">{{ad.ad_title}}</td>
        <td>{{ad.ad_description | fixed:128}}</td>
        <td width="10%">{{ad.ad_price | na}} {{ad.ad_price_type}}</td>
        <td width="10%">{{ad.ad_city | na}}</td>
        <td width="7%">{{ad.ad_landlord_phone | na}}</td>
        <td width="10%">{{ad.ad_landlord_name | na}}</td>
        <td width="10%">{{ad.ad_landlord_type | landlord_type}}</td>
      </tr>
      <tr>
        <td colspan="11">
          <div class="pagination pagination-centered" ng-include
               src="'partials/table-pagination.html'">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>