<div class="block bottom_margin_small">
  <h4>{{'Blocked advertisements' | i18n}}</h4>
</div>
<div class="block">
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>{{'Scraper' | i18n}}</th>
      <th>{{'Original ID' | i18n}}</th>
      <th>{{'Date' | i18n}}</th>
      <th>{{'Title' | i18n}}</th>
      <th>{{'Landlord phone' | i18n}}</th>
      <th>{{'Landlord name' | i18n}}</th>
      <th>{{'Landlord type' | i18n}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="bad in blocked">
      <td width="3%">
        <a href="#/advertisements/{{bad.id}}">#{{bad.id}}</a>
      </td>
      <td width="3%"><a ng-href="#/scrapers/{{bad.scraper.id}}">#{{bad.scraper.id}}</a></td>
      <td width="7%">
        <a target="_blank" ng-href="{{bad.ad_url}}">{{bad.ad_id}}</a>
      </td>
      <td width="10%">{{bad.create_time | date:'dd.MM.yyyy HH:mm:ss'}}</td>
      <td width="37%">{{bad.ad_title}}</td>
      <td width="13%" >{{bad.ad_landlord_phone}}</td>
      <td width="14%">{{bad.ad_landlord_name}}</td>
      <td widht="13%">{{bad.ad_landlord_type | landlord_type}}</td>
    </tr>
    </tbody>
  </table>
</div>