<div class="block bottom_margin_small">
  <h4>{{'Executions' | i18n}}</h4>
</div>
<div class="block">
  <table class="table">
    <thead>
    <tr>
      <th>{{'ID' | i18n}}</th>
      <th>{{'Scraper' | i18n}}</th>
      <th>{{'Start time' | i18n}}</th>
      <th>{{'Finish time' | i18n}}</th>
      <th>{{'# of records' | i18n}}</th>
      <th>{{'Error' | i18n}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="exec in executions">
      <td width="10%">
        <a href="#/executions/{{exec.id}}">#{{exec.id}}</a>
      </td>
      <td width="10%">
        <a ng-href="#/scrapers/{{exec.scraper.id}}">#{{exec.sid}}</a>
      </td>
      <td width="20%">{{exec.start_time | date:'dd.MM.yyyy HH:mm:ss'}}</td>
      <td width="20%">{{exec.finish_time | date:'dd.MM.yyyy HH:mm:ss'}}</td>
      <td width="20%">{{exec.records}}</td>
      <td width="20%">{{exec.error}}</td>
    </tr>
    </tbody>
  </table>
</div>