<div class="block bottom_margin_small">
  <h4>{{'Scrapers statistics' | i18n}}</h4>
</div>
<div class="block">
  <table class="table">
    <thead>
      <tr>
        <th>{{'ID' | i18n}}</th>
        <th>{{'Scraper' | i18n}}</th>
        <th>{{'Name' | i18n}}</th>
        <th>{{'Status' | i18n}}</th>
        <th>{{'Last execution' | i18n}}</th>
        <th>{{'Last result' | i18n}}</th>
        <th>{{'Next execution' | i18n}}</th>
        <th>{{'Actions' | i18n}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="scraper in scrapers">
        <td width="3%">
          <a href="#/scrapers/{{scraper.id}}">#{{scraper.id}}</a>
        </td>
        <td width="10%">{{scraper.resource}}</td>
        <td width="25%">{{scraper.name}}</td>
        <td width="10%">{{scraper.status}}</td>
        <td width="15%">{{scraper.last_time | date:'dd.MM.yyyy HH:mm:ss'}}</td>
        <td width="15%">{{scraper.last_result}}</td>
        <td width="15%">{{scraper.next_time | date:'dd.MM.yyyy HH:mm:ss'}}</td>
        <td width="7%">
          <a ng-click="runNow(scraper);">{{'Run now!' | i18n}}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>